matplotlib
numpy
pandas
plotly
regex
scikit-learn
scipy
seaborn

sqlalchemy
statsmodels
catboost
pyspark
torch
transformers
pillow
keras
tensorflow
beautifulsoup4
nltk
psycopg2-binary
pymorphy2
pymorphy2-dicts
pymystem3
