matplotlib
numpy
pandas
plotly
regex
scikit-learn
scipy
seaborn

#sqlalchemy==1.4.15
#statsmodels==0.13.2
#catboost==1.0.3
#pyspark==3.0.2
#torch==1.10.0
#transformers==4.12.5
#pillow==8.4.0 
#keras==2.7.0
#tensorflow==2.7.0 
#beautifulsoup4
#nltk==3.6.1
#psycopg2-binary==2.9.2
#pymorphy2==0.9.1
#pymorphy2-dicts #==2.4.417127. 4579844
#pymystem3==0.2.0
